<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${MODULE_PACKAGE}</package>
	<author>Thoughtworks</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.bahmni.module.fhir2AddlExtension.Fhir2AddlExtensionModuleActivator</activator>

	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->

	<require_version>${openmrsPlatformVersion}</require_version>

<!--	 Extensions -->
<!--	<extension>-->
<!--		<point>org.openmrs.admin.list</point>-->
<!--		<class>${MODULE_PACKAGE}.extension.html.AdminList</class>-->
<!--	</extension>-->


	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->


    <!-- Required Privileges -->
	<privilege>
		<name>Get DocumentReference</name>
		<description>Allows user to get document references</description>
	</privilege>
	<privilege>
		<name>Add DocumentReference</name>
		<description>Allows user to add a document reference</description>
	</privilege>
	<privilege>
		<name>Delete DocumentReference</name>
		<description>Allows user to delete an existing document reference</description>
	</privilege>
	<privilege>
		<name>Edit DocumentReference</name>
		<description>Allows user to edit an existing document reference</description>
	</privilege>
	<privilege>
		<name>Get Imaging Study</name>
		<description>Allows user to view and search imaging study resources</description>
	</privilege>
	<privilege>
		<name>Create Imaging Study</name>
		<description>Allows user to create new imaging study resources</description>
	</privilege>
	<privilege>
		<name>Edit Imaging Study</name>
		<description>Allows user to edit existing imaging study resources</description>
	</privilege>
    <privilege>
        <name>Delete Imaging Study</name>
        <description>Allows user to delete existing imaging study resources</description>
    </privilege>

	<!-- Required Global Properties -->
	<globalProperty>
		<property>fhir2Extension.orderTypeToReferralLocationAttributeMap</property>
		<defaultValue></defaultValue>
		<description>
			This configuration maps an order type (order_type.name) to a location attribute type (location_attribute_type.name)
			to determine a requested/preferred location for a given order through order attribute (LOCATION_REFERENCE). If a
			location has such an attribute set (e.g. REFERRAL_RADIOLOGY_CENTER), and there exists a mapping through
			this configuration for an order's type (e.g. Radiology Order), then the order's requested/preferred location will be set
			to the location specified for the encounter/visit location. The configuration takes in multiple mappings
			separated by semicolon (format key1:value1; key2:value2). The maps are case sensitive.
			e.g - "RADIOLOGY ORDER:REFERRAL_RADIOLOGY_CENTER;LAB ORDER:REFERRAL_LABORATORY_CENTER"
		</description>
	</globalProperty>
	<!-- Required Global Properties -->

	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name>
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<require_modules>
		<require_module>org.openmrs.module.fhir2</require_module>
		<require_module>org.openmrs.module.webservices.rest</require_module>
		<require_module>org.openmrs.module.episodes</require_module>
		<require_module>org.ict4h.openmrs.openmrs-atomfeed</require_module>
	</require_modules>

	<databaseChangelogFile>liquibase.xml</databaseChangelogFile>

	<mappingFiles>
		DocumentReference.hbm.xml
		DocumentReferenceContent.hbm.xml
		DocumentReferenceAttribute.hbm.xml
		DocumentReferenceAttributeType.hbm.xml
        ImagingStudy.hbm.xml
        ImagingStudyNotes.hbm.xml
	</mappingFiles>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>

	<!-- /Internationalization -->
</module>
