name: Maven Package and Publish

on:
  push:
    branches: [ main ]
   # Allow manual trigger
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'corretto'
        cache: maven
        server-id: github
        server-username: GITHUB_ACTOR
        server-password: GITHUB_TOKEN
    - name: Publish to GitHub Packages
      run: mvn clean -U deploy
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Trigger workflow in utils repository
      run: |
        curl -X POST \
          -H "Authorization: token ${{ secrets.INFRA_GITHUB_TOKEN }}" \
          -H "Accept: application/vnd.github.v3+json" \
          https://api.github.com/repos/bahnew/utils/dispatches \
          -d '{"event_type":"fhir2-addl-extension-module-publish"}'
